
<p>
  <b>Omrl:</b>
  <%=h @om_currency.omrl %>
</p>

<p>
  <b>Credentials:</b>
  <%=h @om_currency.credentials %>
</p>


<%= link_to 'Edit', edit_om_currency_path(@om_currency) %> |
<%= link_to 'Back', om_currencies_path %>
