<% @header = "Manage #{h @om_currency.omrl}" %>

<p>
	<b>Summary:</b>
  
	<%=
	  c = nil
      begin
        c = Currency.find(@om_currency.omrl, :params => { :extra => 'summary' })
		attrs = []
		c.attributes.collect {|k,v| next if k == 'updated_at'; attrs << (k.titleize << ': ' << v.to_s)}
		attrs.join(', ')
      rescue ActiveResource::ResourceNotFound
		'-- not available -- '
      end
 	%>
</p>