<% @header = Configuration.get(:welcome) %>

<% if !logged_in? %>

<div class='quicklinks_top' id="quicklinks">
	<h3>Get Started</h3>
   <ul class='quicklinks_bottom'>
		<li><%= link_to('new user profile', new_user_url)%> </li>
		<li> or </li>
		<li><%= link_to('login', login_url)%></li>
   </ul>
 </div>
<% end %>
   
<% if logged_in? %>
	<%= Configuration.get(:home_page_logged_in)%>
<% else %>
	<%= Configuration.get(:home_page_public)%>
<% end %>
