<% @header="Accounts" %>

<table>

<% for om_account in @om_accounts %>
  <tr>
    <td><%=h om_account.omrl %></td>
    <td><%= link_to 'Edit', edit_om_account_path(om_account) %></td>
    <td><%= link_to 'Destroy', om_account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add account', new_om_account_path %>
